html, body, * {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Verdana, "Trebuchet MS", Arial, sans-serif;
    outline: 0 none; /* tab focus is defined in the specific classes */
}

html, body {
    background: url(../images/bg1.png);
    font-size: calc(100vh / 24);
    line-height: 1;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9.5rem;
    margin-left: -8rem;
    width: 16rem;
    height: 19rem;
}

#gameinfo {
    float: left;
    height: 19rem;
    width: 5rem;
    padding: 0 0 0 1rem;
    margin: 0;
}

#gameinfo span.label {
    font-size: 0.5rem;
}

#points {
    font-size: 1.15rem;
    width: 100%;
    text-align: justify;
    display: inline-block;
}

#options {
    margin-top: .59rem;
}

#options .option.boolean, .imgbutton {
    display: inline-block;
    border: 0.1rem solid #2a2a2a;
    border-radius: 0.2rem;
    cursor: pointer;
    float: left;
    margin-right: 0.2rem;
}

#options .option.boolean {
    width: 2.1rem;
    height: 2.1rem;
}

#options .option.boolean.clear {
    margin-right: 0;
    clear: none;
}
#options .option.boolean.clear:after {
    content: '';
    display: block;
    clear: both;
}
#options .option.boolean:hover
{
    background-color: #EEE;
}
#options .option.boolean.disabled {
    opacity: 0.3;
}

#options #button-mute {
    background-image: url(../images/audio_unmuted.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55% 55%;
}

#options #button-mute.disabled {
    background-image: url(../images/audio_muted.svg);
    background-size: 65% 65%;
}

#options #button-ghost .brick {
    font-size: 50%;
    margin: 0.6em auto 0 auto;
}
#options #button-ghost .brick .stone {
    background: #2a2a2a;
}

#gamepanel {
    width: 10rem;
    height: 19rem;
    padding: 0;
    clear: both;
    background: #555;
    float: left;
}
#gamepanel .cell
{
    background: #555;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    float: left;
    margin: 0;
}

#gamepanel .gamepanel-overlay
{
    position: absolute;
    margin-left: 10.2rem;
    width: 10.2rem;
    height: 19rem;
    margin: 0;
}

#message-overlay .message
{
    width: 10rem;
    height: 19rem;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#message-overlay .message-content 
{
    display: flex-item;
}

#message-overlay .message, #message-overlay .message * {
    text-align: center;
}

#message-overlay .message a {
    color: #ccc;
    text-decoration: none;
    font-size: 50%;
    outline: 0 none !important;
}

#message-overlay .message a:hover {
    text-decoration: underline;
}

#message-overlay .message h1 {
    width: 100%;
    font-size: 2.2rem;
    line-height: 1.1;
}

#message-overlay .message .content {
    padding: 0 0.3rem 0 0.3rem;
}

/* GAME OVER */
#message-overlay input[type="text"] {
    width: 90%;
    border: 0.1rem solid white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.2rem;
    font-size: 1.2rem;
    color: #ccc;
}

#message-overlay input.disabled {
    background: #ccc;
    border-color: #ccc;
    color: #2a2a2a;
}

#message-overlay input[type="button"] {
    padding: 0.2rem 0.7rem;
    border: 0.1rem solid #ccc;
    background: none;
    width: 80%;
    color: #ccc;
    font-size: 0.75rem;
    border-radius: 0.2rem;
    cursor: pointer;
    margin: 0.1rem;
}

#message-overlay input[type="button"]:focus {
    border: .2rem solid #FFF;
    margin: 0;
    color: #FFF;
}

/* HIGHSCORES */
.highscores {
    width: 100%;
    min-height: 12rem;
    padding: 0 0.3rem 0 0.3rem;
    box-sizing: border-box;
}
.highscores table {
    font-size: 60%;
    width: 100%;
    padding: 0;
    margin: .4rem 0;
}

.highscores td, .highscores th {
    text-align: left !important;
    height: 0.68rem;
    padding: 0.15rem;
}

.highscores table tr th:first-child {
    width: 2rem;
}
.highscores table tr th:last-child,
.highscores table tr td:last-child {
    width: 4rem;
    text-align: right !important;
}

.highscores table tr:nth-child(odd)
{
    background: #ccc;
    color: #2a2a2a;
    text-shadow: none;
}

.highscores tr.highlighted td {
    background: #00ABEF;
}

.highscores + .imgbutton {
    margin: 0 0.5rem 0 0.3rem;
}

#effect-overlay h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    font-size: 2.4rem;
}

#copyright {
    position: absolute;
    top: 100%;
    right: 1rem;
    margin-top: -1.5rem;
    font-size: 40%;
    color: #2a2a2a;
}

.graved, #effect-overlay h1, #message-overlay h1, #message-overlay p,
#gameinfo span.label
{
    text-shadow: -1px -1px 1px #4a4a4a;
    color: #DDD;
}

.brick-preview {
    font-size: 70%;
    display: block;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    background: #555;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.brick-preview .brick-i, .brick-preview .brick-l, .brick-preview .brick-rl,
.brick-preview .brick-t, .brick-preview .brick-z, .brick-preview .brick-s,
.brick-preview .brick-square {
    margin: 0 auto;
}

.brick-preview .brick-i {
    margin-top: 0.2em;
}

.brick-preview .brick-l, .brick-preview .brick-rl {
    margin-top: 0.6em;
}
.brick-preview .brick-t, .brick-preview .brick-z, .brick-preview .brick-s,
.brick-preview .brick-square {
    margin-top: 1.2em;
}

.brick.ghost {
    opacity: 0.3;
}

.brick .stone {
    width: 1em;
    height: 1em;
    display: inline-block;
    float: left;
}

.brick.blue .stone, #gamepanel .cell.blue {
    background-color: #005AF4;
}
.brick.green .stone, #gamepanel .cell.green {
    background-color: #00D754;
}
.brick.magenta .stone, #gamepanel .cell.magenta {
    background-color: #BD52BA;
}
.brick.orange .stone, #gamepanel .cell.orange {
    background-color: #FF9A00;
}
.brick.red .stone, #gamepanel .cell.red {
    background-color: #E53918;
}
.brick.turquoise .stone, #gamepanel .cell.turquoise {
    background-color: #00ABEF;
}
.brick.yellow .stone, #gamepanel .cell.yellow {
    background-color: #FBF000;
}
.brick .stone.hidden {
    visibility: hidden;
}

#gamepanel .cell.pendingRremoval {
    background-color: #EEE;
}

.imgbutton {
    width: 1.2rem;
    height: 1.2rem;
    float: left;
    border-color: #ccc;
    cursor: pointer;
    margin-left: .3rem;
}

.imgbutton.replay {
    background-image: url(../images/replay.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% 80%;
}

.imgbutton.showstart {
    background-image: url(../images/home.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 67.5% 67.5%;
}

.imgbutton.nextpage {
    background-image: url(../images/nextpage.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120% 120%;
}

.imgbutton.prevpage {
    background-image: url(../images/prevpage.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

input[type="button"] + .imgbutton {
    display: inline-block;
    margin: 0 0 0 0.8rem;
    float: left;
}

.clear {
    clear: both;
}

/* START SCREEN */
#control-scheme-switcher {
	border: 0.1rem solid white;
	border-radius: 0.2rem;
	height: 1rem;
	width: 70%;
	margin: 0.75rem auto;
}

#control-scheme-switcher span {
	font-size: 0.5rem;
	display: block;
	float: left;
	width: 50%;
	height: 2em;
	line-height: 2;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

#control-scheme-switcher span.selected {
	background: white;
	color: #2a2a2a;
	cursor: default;
}

.control-scheme {
	clear: both;
	display: none;
}

.control-scheme.selected {
	display: block;
}

.control-info {
    display: inline-block;
    width: 4rem;
}

.key, .control-info .swipe {
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    border: 0.1rem solid white;
    border-radius: 0.2rem;
    background-size: 70% 70%;
    background-position: center center;
    background-repeat: no-repeat;
}

.swipe {
    border: none;
    margin: 0.1rem;
    background-size: 100%;
}

.key.down {
    background-image: url(../images/arrow_down.svg);
}
.key.up {
    background-image: url(../images/arrow_up.svg);
}
.key.left {
    background-image: url(../images/arrow_left.svg);
}
.key.right {
    background-image: url(../images/arrow_right.svg);
}
.key.space {
    width: 2.6rem;
    background-image: url(../images/space.svg);
}
.key.esc span {
    font-size: 50%;
    color: white;
    margin-top: 0.8em;
}
.swipe.swipe-up {
    background-image: url(../images/swipe-up.svg);
}
.swipe.swipe-down {
    background-image: url(../images/swipe-down.svg);
}
.swipe.swipe-left {
    background-image: url(../images/swipe-left.svg);
}
.swipe.swipe-right {
    background-image: url(../images/swipe-right.svg);
}
.swipe.swipe-pinch-out {
    background-image: url(../images/pinch-out.svg);
}
.swipe.swipe-pinch-in {
    background-image: url(../images/pinch-in.svg);
}

.control-info span {
    font-size: 50%;
    color: #ccc;
    display: block;
}

.tremplate {
    display: none;
}

.credits {
    font-size: .5rem;
}

.credits a {
    font-size: 100% !important;
    color: #FFF !important;
    text-decoration: underline !important;
}

.credits a[href]:focus {
    color: #00ABEF !important;
}

.template {
    display: none;
}
